a {
  color: rgb(151, 151, 151);
  text-decoration: none;
}

a:hover {
  color: #8904cc;
  cursor: pointer;
}

a:active {
  background-color: transparent;
}

a:visited {
  background-color: transparent;
}