.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-items {
  align-items: center
}

.align-content {
  align-content: center
}

.space-evenly {
  justify-content: space-evenly
}

.flex-wrap {
  flex-wrap: wrap;
}

@for $i from 1 through 100 {
  .flex-basis-#{$i} {
    flex-basis: #{$i + "%"} ;
  }
}

.flex-basis-auto {
  flex-basis: auto;
}