.margin-none {
  margin: 0px;
}
.margin-top-none {
  margin-top: 0px;
}
.margin-left-none {
  margin-left: 0px;
}
.margin-right-none {
  margin-right: 0px;
}
.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-h-none {
  margin-left: 0px;
  margin-right: 0px;
}

.margin-v-none {
  margin-top: 0px;
  margin-bottom: 0px;
}

.margin-xs {
  margin: .2em;
}

.margin-s {
  margin: .5em;
}

.margin-m {
  margin: .9em;
}

.margin-l {
  margin: 1.2em;
}

.margin-xl {
  margin: 1.6em;
}

.margin-xxl {
  margin: 2em;
}


// Vertical margins

.margin-auto-v {
  margin: auto 0em;
}

.margin-xs-v {
  margin: .2em 0em;
}

.margin-s-v {
  margin: .5em 0em;
}

.margin-m-v {
  margin: .9em 0em;
}

.margin-l-v {
  margin: 1.2em 0em;
}

.margin-xl-v {
  margin: 1.6em 0em;
}

.margin-xxl-v {
  margin: 2em 0em;
}

// Horizontal margins

.margin-auto-h {
  margin: 0em auto;
}

.margin-xs-h {
  margin: 0em .2em;
}

.margin-s-h {
  margin: 0em .5em;
}

.margin-m-h {
  margin: 0em .9em;
}

.margin-l-h {
  margin: 0em 1.2em;
}

.margin-xl-h {
  margin: 0em 1.6em;
}

.margin-xxl-h {
  margin: 0em 2em;
}


// TOP

.margin-top-xs {
  margin-top: .2em
}

.margin-top-s {
  margin-top: .4em
}

.margin-top-m {
  margin-top: .9em
}

.margin-top-l {
  margin-top: 1.4em
}

// BOTTOM

.margin-bottom-xs {
  margin-bottom: .2em
}

.margin-bottom-s {
  margin-bottom: .4em
}

.margin-bottom-m {
  margin-bottom: .9em
}

.margin-bottom-l {
  margin-bottom: 1.4em
}